{% if post.layout != post %}
  {% assign words = post.content | strip_html | number_of_words %}
  {% if words < 180 %}
    Время чтения менее 1 минуты
  {% elsif words < 360 %}
    Время чтения 1 минута
  {% else %}
    Время чтения {{ words | divided_by:180 }} минут
  {% endif %}
{% endif %}
{% if post.layout == post %}
  {% assign words = content | number_of_words %}
  {% if words < 180 %}
    less than 1 minute read
  {% elsif words < 360 %}
    1 minute read
  {% else %}
    {{ words | divided_by:180 }} minute read
  {% endif %}
{% endif %}
